@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bilbo&family=Italianno&family=Lugrasimo&family=Mate+SC&family=Merienda:wght@300..900&family=Sixtyfour&display=swap');
body {
    font-family: Merienda;
    font-weight: bold;
    background-image: url('../static/bg.png');
    background-size: cover;
    z-index: 2;
}

.navbar-nav .nav-link {
    margin-right: 30px;
}

.navbar {
    z-index: 3;
    background-image: url('../static/navbar-bg.png');
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 10%;
}

.form-control,
.btn {
    border-radius: 0;
}

.dropdown-toggle {
    border-radius: 0;
}

.input-group:focus-within {
    box-shadow: 0 0 0 0.25rem rgba(101, 20, 18);
}

.logoN {
    width: 300px;
    height: auto;
    margin-left: 4%;
}

#cann {
    width: 20px;
}

.category-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.category-container {
    text-align: center;
    margin-top: 30px;
    flex: 1;
    padding: 0 15px;
}

.category-title {
    font-weight: bold;
}

.dropdown-menu {
    border-radius: 0;
}

.logoF {
    width: 300px;
}

.footer {
    background-image: url("../static/footer.png");
    background-size: cover;
    align-items: center;
}

.containerF {
    margin-top: 65px;
}

.footer-links a {
    color: #ffffff;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.carousel-item img {
    height: 400px;
    object-fit: cover;
}

.carousel {
    height: 400px;
    z-index: 1;
    width: 100%;
}

@media (max-width: 991.98px) {
    .navbar-nav {
        flex-direction: column;
        text-align: center;
    }

    .navbar-nav .nav-link {
        padding: .5rem 0;
    }

    .navbar-collapse {
        position: fixed;
        top: 0;
        bottom: 20%;
        left: -80%;
        width: 50%;
        background-image: url('../static/menu.png');
        background-size:150%;
        background-repeat: no-repeat;
        /*background-color: #f8f9fa;*/
        transition: all 0.3s;
        z-index: 1000;
    }

    .navbar-collapse.show {
        left: 0;
    }

    .navbar-collapse .navbar-nav {
        flex-direction: column;
        text-align: left;
        padding-top: 1rem;
        padding-left: 1rem;
    }

    .navbar-collapse .nav-item {
        margin-bottom: 0.5rem;
    }

    .navbar-toggler {
        position: relative;
    }

    .navbar {
        z-index: 999;
        height: 20%;
    }

    .logoN {
        position: absolute;
        top:7%;
        left: 15%;
    }
}