@charset "utf-8";

body {
    background-image: url('../static/body-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar-nav .nav-link {
    margin-right: 30px;
}

.navbar {
    background-image: url("../static/navbar-bg.png");
    background-repeat: no-repeat;
    align-items: center;
    position: relative;
    z-index: 9999;
}

.form-control,
.btn {
    border-radius: 0;
}

.dropdown-toggle {
    border-radius: 0;
}

.input-group:focus-within {
    box-shadow: 0 0 0 0.25rem rgba(101, 20, 18);
}

.logo {
    width: 300px;
    height: auto;
    margin-left: 4%;
}

#cann {
    width: 20px;
}

body.overlay-active {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.category-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.category-container {
    text-align: center;
    margin-top: 30px;
    flex: 1;
    padding: 0 15px;
}

.category-title {
    font-weight: bold;
}

.dropdown-menu {
    border-radius: 0;
}

.footer {
    background-image: url("../static/footer.png");
    background-repeat: no-repeat;
    align-items: center;
    padding: 50px 0;
    border-top: 1px solid #ddd;
}

.footer-logo {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.footer-links {
    margin-bottom: 20px;
}

.footer-links a {
    display: block;
    color: #0066c0;
    margin-bottom: 5px;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.carousel-item img {
    height: 400px;
    object-fit: cover;
}

.carousel {
    height: 400px;
    z-index: 9998;
}

.parchment {
    position: relative;
    max-width: 90%;
    margin: 50px auto;
    padding: 20px;
    background-color: #f8e8c8;
    -webkit-mask-image: url('../static/parchment-bg.png');
    mask-image: url('../static/parchment-bg.png');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: 100%;
    mask-size: 100%;
    pointer-events: none;
}

.parchment-inner {
    position: relative;
    z-index: 1;
}

.parchment:before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-color: #f8e8c8;
    z-index: -1;
}

.parchment:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 90%;
    height: 20px;
    transform: translateX(-50%) rotate(-2deg);
}

.parchment:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 90%;
    height: 20px;
    transform: translateX(-50%) rotate(2deg);
}

.container-fluid {
    max-width: 120%;
}
