<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
	rel="stylesheet">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<link th:href="@{style.css}" rel="stylesheet">
<title th:text="${categoria.tipo}"></title>
<style type="text/css">
</style>
</head>

<body>
	<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{LOGOTIPO.png}" alt="Logo" class="logoN d-inline-block align-top me-2">
        </a>
       
        <form class="d-flex ms-2 flex-grow-1" role="search">
				<div class="input-group">
					<div class="dropdown">
						<button class="btn btn-warning dropdown-toggle" type="button"
							id="dropdownMenuButton" data-bs-toggle="dropdown"
							aria-expanded="false">Categorie</button>
						<ul class="dropdown-menu bg-warning"
							aria-labelledby="dropdownMenuButton">


							<li th:each="categoria : ${categorie}"><a
								th:text="${categoria.tipo}" class="dropdown-item"
								th:href="@{/categoria(id=${categoria.id})}"></a></li>
						</ul>
					</div>
					<input class="form-control" type="search" placeholder="Cerca"
						aria-label="Search">
					<button class="btn btn-warning" type="submit">
						<i class="bi bi-search"></i>
					</button>
				</div>
			</form>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

     
        <div th:if="${session['utente'] != null}" class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
                <li class="nav-item">
                    <a th:href="@{/areariservata/logout}" class="nav-link active" aria-current="page">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/carrello}">Carrello</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/}" class="nav-link">Impostazioni</a>
                </li>
            </ul>
        </div>
        <div th:unless="${session['utente'] != null}" class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/registrazioneutente}">Registrazione</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/carrello}">Carrello</a>
                </li>
            </ul>
        </div>
    </div>
</nav> 
	
	

	<div class="filtrobottoni">

		<a th:each="sottocategoria: ${categoria.sottocategorie}" th:href="@{/categoria(id=${categoria.id},filtro=${sottocategoria.nome})}" class="btn btn-warning" th:text="${sottocategoria.nome}"></a>
		<a th:href="@{/categoria(id=${categoria.id})}" class="btn btn-warning"> Mostra tutto</a>
		</div>

<p th:if="${add!=null}"> Prodotto aggiunto al carrello </p>



	<div class="container mt-3">
		<div class="row">
			<div th:each="prodotto : ${prodotti}" class="col-md-3 col-sm-12"
				th:categoria="${prodotto.sottocategoria.categoria}">



				<div class="card " id="ombra">
					<img class="card-img-top" th:src="@{${prodotto.immagine}}">
					<div class="card-body">
						<h5 th:text="${prodotto.nome}" class="card-title"></h5>
						<button class="btn btn-dark bottone" data-bs-toggle="collapse"
							data-bs-target="#pulsante" th:value="'pulsante'+ ${prodotto.id}">Dettagli</button>
						<div class="collapse" style="display: none;"
							th:id="'pulsante'+ ${prodotto.id}">
							<div class="campi">


						

								<h5>Descrizione</h5>
								<p th:text="${prodotto.descrizione}"></p>
								<div>
									<h5 th:text="${prodotto.prezzo}">
										
									</h5>
								</div>
								<a th:href="@{/categoria/aggiungi(id=${prodotto.id},idCat=${categoria.id})}" class="btn btn-warning">Aggiungi al carrello</a>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		</div>
	<footer class="footer py-3">
		<div class="containerF">
			<div class="row">
				<div class="text-center">
					<br> <br> <img th:src="@{LOGOTIPO.png}" alt="Logo"
						class="logoF mb-3">
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<ul class="footer-links list-unstyled">
						<li th:each="categoria: ${categorie}" class="d-inline me-3"><a
							th:href="@{/categoria(id=${categoria.id})}"
							th:text="${categoria.tipo}"></a></li>
							</ul>
				</div>
			</div>
			<div class="row mt-3">
				<div class="col-md-12 text-center">
					<p>Ci trovi in rete, viandante! Arr!</p>
					<a href="#"><img th:src="@{social.png}" width="100px"></a>
				</div>
			</div>
			<div class="row mt-3">
				<div class="col-md-12 text-center" id="dichiarazione">
					<p>© 2024 Bottegadelbrigante.com, Inc. o società affiliate</p>
				</div>
			</div>

		</div>
	</footer>

	<script>
		document.querySelectorAll('.bottone').forEach(function(pulsante) {
			pulsante.addEventListener('click', function() {
				toggleCollapse(this.value)
			})
		})
		function toggleCollapse(cardId) {

			var div = document.getElementById(cardId);
			if (div.style.display === "none") {
				div.style.display = "block";
			} else {
				div.style.display = "none";
			}
		}
	</script>

</body>

</html>