<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="../static/style.css" rel="stylesheet">
    <title>Gadget</title>
    <style type="text/css">


    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">
                <img src="../static/LOGOTIPO.png" alt="Logo" class="logoN d-inline-block align-top me-2">
            </a>
            <form class="d-flex ms-2 flex-grow-1" role="search">
                <div class="input-group">
                    <div class="dropdown">
                        <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Categorie
                        </button>
                        <ul class="dropdown-menu bg-warning" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="#">Abbigliamento</a></li>
                            <li><a class="dropdown-item" href="#">Gadget</a></li>
                            <li><a class="dropdown-item" href="#">Giochi</a></li>
                            <li><a class="dropdown-item" href="#">Gioielli</a></li>
                            <li><a class="dropdown-item" href="#">Opere Artistiche</a></li>
                            <li><a class="dropdown-item" href="#">Opere Multimediali</a></li>
                            <li><a class="dropdown-item" href="#">Opere Narrative</a></li>
                        </ul>
                    </div>
                    <input class="form-control" type="search" placeholder="Cerca" aria-label="Search">
                    <button class="btn btn-warning" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Registrazione</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Carrello</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="filtrobottoni">
        <button class="btn btn-warning" onclick="filtro('Fumetto')">Fumetto</button>
        <button class="btn btn-warning" onclick="filtro('Manga')">Manga</button>
        <button class="btn btn-warning" onclick="filtro('Romanzo')">Romanzo</button>
        <button class="btn btn-warning" onclick="mostraTutto()">Mostra tutto</button>
        </div>

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="card " id="ombra">
                    <img class="card-img-top" src="../static/SottoCategorie/Apribottiglie/apribottiglie1.jpg" alt="Apribottiglie con ancora">
                    <div class="card-body">
                        <h5 class="card-title">
                            Apribottiglie con ancora
                        </h5>
                        <button class="btn btn-dark" data-bs-toggle="collapse" data-bs-target="#pulsante"
                            onclick="toggleCollapse('pulsante1')"id="bottone">Dettagli
                        </button>
                        <div class="collapse" style="display: none;" id="pulsante1">
                            <div class="campi">
                                <fieldset>

                                    <div id="carouselExample" class="carousel slide">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img class="copertina" src="../static/SottoCategorie/Apribottiglie/apribottiglie 3.jpg"
                                                    class="d-block w-100" alt="...">
                                            </div>
                                            <div class="carousel-item">
                                                <img class="copertina"
                                                    src="../static/SottoCategorie/Apribottiglie/apribottiglie2.jpg"
                                                    class="d-block w-100" alt="...">
                                            </div>
                                        </div>
                                        <button class="carousel-control-prev" type="button"
                                            data-bs-target="#carouselExample" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button"
                                            data-bs-target="#carouselExample" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>

                                    <h5> Descrizione </h5>
                                    <p>Apribottiglie con ancora creativo per tappi di birra, set da costruzione cavatappi per birra regalo per uomini, serie pirata, divertente cavatappi per barbarkeeper (colore bronzo)</p>
                                    <div>
                                        <h5><span class="badge bg-secondary"><s>5,20€</s></span> 4,94€</h5>
                                    </div>
                                    <a href="#" class="btn btn-warning">Aggiungi al carrello</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-3 col-sm-12">
                <div class="card" id="ombra">
                    <img class="card-img-top" src="../static/SottoCategorie/Portachiavi/portachiavi.jpg" alt="Portachiavi Pirata in Pelle">
                    <div class="card-body">
                        <h5 class="card-title">
                        Portachiavi Pirata in Pelle
                        </h5>
                        <button class="btn btn-dark" data-bs-toggle="collapse" data-bs-target="#pulsante2"
                            onclick="toggleCollapse('pulsante2')"id="bottone">Dettagli
                        </button>
                        <div class="collapse" style="display: none;" id="pulsante2">
                            <div class="campi">
                                <fieldset>

                                    <div id="carouselExample2" class="carousel slide">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img class="copertina" src="../static/SottoCategorie/Portachiavi/portachiavi2.jpg"
                                                    class="d-block w-100" alt="...">
                                            </div>
                                            <div class="carousel-item">
                                                <img class="copertina"
                                                    src="../static/SottoCategorie/Portachiavi/portachiavi3.jpg"
                                                    class="d-block w-100" alt="...">
                                            </div>
                                        </div>
                                        <button class="carousel-control-prev" type="button"
                                            data-bs-target="#carouselExample2" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button"
                                            data-bs-target="#carouselExample2" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>

                                    <h5> Descrizione </h5>
                                    <p>Informazioni su questo articolo
                                        Stile: one piece portachiavi, retro
                                        Materiale: il primo strato di parti di cuoio + lega
                                        Dimensioni: 11 cm, peso: 31g
                                        Applicabile alla folla: uomini, donne e bambini
                                        Raffreddare portachiavi, ideale come idea regalo novità.</p>
                                    <div>
                                        <h5><span class="badge bg-secondary"><s>5,20€</s></span> 4,94€</h5>
                                    </div>
                                    <a href="#" class="btn btn-warning">Aggiungi al carrello</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="card" id="ombra">
                    <img class="card-img-top" src="../static/SottoCategorie/Portachiavi/portachiavi4.jpg" alt=" Sucolin Portachiavi Pirata ">
                    <div class="card-body">
                        <h5 class="card-title">
                            Sucolin Portachiavi Pirata 
                        </h5>
                        <button class="btn btn-dark" data-bs-toggle="collapse" data-bs-target="#pulsante3"
                            onclick="toggleCollapse('pulsante3')"id="bottone">Dettagli
                        </button>
                        <div class="collapse" style="display: none;" id="pulsante3">
                            <div class="campi">
                                <fieldset>

                                    <div id="carouselExample3" class="carousel slide">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img class="copertina" src="../static/SottoCategorie/Portachiavi/portachiavi5.jpg"
                                                    class="d-block w-100" alt="...">
                                            </div>
                                            <div class="carousel-item">
                                                <img class="copertina"
                                                    src="../static/SottoCategorie/Portachiavi/portachiavi6.jpg"
                                                    class="d-block w-100" alt="...">
                                            </div>
                                        </div>
                                        <button class="carousel-control-prev" type="button"
                                            data-bs-target="#carouselExample3" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button"
                                            data-bs-target="#carouselExample3" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>

                                    <h5> Descrizione </h5>
                                    <p>Stile: portachiavi in vita appeso con portachiavi
                                        Dimensioni: circa 13 cm, diametro dell'anello chiave è di circa 3,5 cm. Peso: 20 g</p>
                                    <div>
                                        <h5><span class="badge bg-secondary"><s>5,20€</s></span> 4,94€</h5>
                                    </div>
                                    <a href="#" class="btn btn-warning">Aggiungi al carrello</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-12">
                <div class="card" id="ombra">
                    <img class="card-img-top" src="../static/SottoCategorie/agende/agenda1.jpg" alt="Quaderno pirata - diario - ">
                    <div class="card-body">
                        <h5 class="card-title">
                            Quaderno pirata - diario - 
                        </h5>
                        <button class="btn btn-dark" data-bs-toggle="collapse" data-bs-target="#pulsante4"
                            onclick="toggleCollapse('pulsante4')"id="bottone">Dettagli
                        </button>
                        <div class="collapse" style="display: none;" id="pulsante4">
                            <div class="campi">
                                <fieldset>

                                    <div id="carouselExample4" class="carousel slide">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img class="copertina" src="../static/SottoCategorie/agende/agenda1.jpg"
                                                    class="d-block w-100" alt="...">
                                            </div>
                                            <div class="carousel-item">
                                                <img class="copertina"
                                                    src="../static/SottoCategorie/agende/agenda3.jpg"
                                                    class="d-block w-100" alt="...">
                                            </div>
                                        </div>
                                        <button class="carousel-control-prev" type="button"
                                            data-bs-target="#carouselExample4" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button"
                                            data-bs-target="#carouselExample4" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>

                                    <h5> Descrizione </h5>
                                    <p>⭐Decorazione in rilievo & Charm: Aaaaarrrrrrrrrrrrrrr, marinaio... vivere la vita di un pirata richiede un'audace dichiarazione d'identità, così questo diario viene fornito con un teschio pirata e sciabole incrociate orgogliosamente impressi a rilievo proprio sulla parte anteriore della copertina marrone in ecopelle. Adornato con il timone di una nave e il fascino dell'ancora, questo è il diario perfetto per pirati o avventurieri di ogni età.
                                        ⭐Pagine ricaricabili: Un buon diario deve durare una vita di avventure, quindi questo diario dei pirati viene fornito con 75 pagine A6 ricaricabili bianche. Una volta che queste prime 75 pagine sono piene di storie avventurose di onde alte e bottini perduti dal fondo dello scrigno di Davy Jone, basta mettere nuovi fogli e iniziare una nuova avventura con la stessa copertina di alta qualità del diario.
                                        </p>
                                    <div>
                                        <h5><span class="badge bg-secondary"><s>20,00€</s></span> 18,99€</h5>
                                    </div>
                                    <a href="#" class="btn btn-warning">Aggiungi al carrello</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-12">
                <div class="card" id="ombra">
                    <img class="card-img-top" src="../static/SottoCategorie/agende/agenda4.jpg" alt="Agenda Vintage Pirata ">
                    <div class="card-body">
                        <h5 class="card-title">
                          Agenda Vintage Pirata 
                        </h5>
                        <button class="btn btn-dark" data-bs-toggle="collapse" data-bs-target="#pulsante5"
                            onclick="toggleCollapse('pulsante5')"id="bottone">Dettagli
                        </button>
                        <div class="collapse" style="display: none;" id="pulsante5">
                            <div class="campi">
                                <fieldset>

                                    <div id="carouselExample5" class="carousel slide">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img class="copertina" src="../static/SottoCategorie/agende/agenda4.jpg"
                                                    class="d-block w-100" alt="...">
                                            </div>
                                            <div class="carousel-item">
                                                <img class="copertina"
                                                    src="../static/SottoCategorie/agende/agenda5.jpg"
                                                    class="d-block w-100" alt="...">
                                            </div>
                                        </div>
                                        <button class="carousel-control-prev" type="button"
                                            data-bs-target="#carouselExample5" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button"
                                            data-bs-target="#carouselExample5" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>

                                    <h5> Descrizione </h5>
                                    <p>Documenti in bianco sono perfetti per la scrittura, il disegno, schizzi, attaccando foto o registrare i tuoi ricordi incredibili.
                                        Adotta vincolante fogli mobili e design legato.
                                        Un bellissimo regalo per voi stessi oi vostri amici.
                                        Può essere usato per il vostro diario nel diario, diario di viaggio e nota.
                                        Classica pendente pirata marittimo Anchor & Retro reticolo bussola progettato sulla copertina, molto fresca e attraente.</p>
                                    <div>
                                        <h5><span class="badge bg-secondary"><s>9,90€</s></span> 9,40€</h5>
                                    </div>
                                    <a href="#" class="btn btn-warning">Aggiungi al carrello</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <footer class="footer py-3">
        <div class="containerF">
            <div class="row">
                <div class="text-center">
                    <img src="../static/LOGOTIPO.png" alt="Logo" class="logoF mb-3">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="footer-links list-unstyled">
                        <li class="d-inline me-3"><a href="#">Abbigliamento</a>
                        </li>
                        <li class="d-inline me-3"><a href="#">Gadget</a>
                        </li>
                        <li class="d-inline me-3"><a href="#">Giochi</a>
                        </li>
                        <li class="d-inline me-3"><a href="#">Gioielli</a>
                        </li>
                        <li class="d-inline me-3"><a href="#">Opere
                                Artistiche</a>
                        </li>
                        <li class="d-inline-block me-3"><a href="#">Opere
                                Multimediali</a></li>
                        <li class="d-inline-block me-3"><a href="#">Opere
                                Narrative</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12 text-center">
                    <p>© 2024 Bottegadelbrigante.com, Inc. o società affiliate</p>
                </div>
            </div>
        </div>
    </footer>

    <script>
        function toggleCollapse(cardId) {
            var div = document.getElementById(cardId);
            if (div.style.display === "none") {
                div.style.display = "block";
            } else {
                div.style.display = "none";
            }
        }

        function filtro(category) {
     cards = document.querySelectorAll('.card');
      cards.forEach(function(card) {
         cardCategory = card.parentNode.getAttribute('categoria');
        if (cardCategory === category) {
            card.style.display = 'block';
        } else {
            card.style.display = 'none';
        }
    });
}


function mostraTutto() {
    cards = document.querySelectorAll('.card');
    cards.forEach(function(card) {
        card.style.display = 'block';
    });
}
    </script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
</body>

</html>