<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" rel="stylesheet">
    <link href="../static/style.css" rel="stylesheet">
    <title>Home - La Bottega del Brigante</title>

</head>

<body id="bg">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">
                <img src="../static/LOGOTIPO.png" alt="Logo" class="logoN d-inline-block align-top me-2">
            </a>
            <form class="d-flex ms-2 flex-grow-1" role="search">
                <div class="input-group">
                    <div class="dropdown">
                        <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Categorie
                        </button>
                        <ul class="dropdown-menu bg-warning" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="#">Abbigliamento</a></li>
                            <li><a class="dropdown-item" href="#">Gadget</a></li>
                            <li><a class="dropdown-item" href="#">Giocattoli</a></li>
                            <li><a class="dropdown-item" href="#">Gioielli</a></li>
                            <li><a class="dropdown-item" href="#">Opere Artistiche</a></li>
                            <li><a class="dropdown-item" href="#">Opere Multimediali</a></li>
                            <li><a class="dropdown-item" href="#">Opere Narrative</a></li>
                        </ul>
                    </div>
                    <input class="form-control" type="search" placeholder="Cerca" aria-label="Search">
                    <button class="btn btn-warning" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" href="login.html">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="registrazioneUtente.html">Registrazione</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Carrello</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
                <img src="../static/CAR1.png"
                    class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="../static/CAR2.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="../static/CAR3.png"
                    class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Precedente</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Successiva</span>
        </button>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-auto text-center">
            <div class="category-container">
                <img src="https://www.changethefuture.it/assets/uploads/2020/05/animali-selvatici.jpg"
                    alt="Abbigliamento" class="category-img">
                <div class="category-title">Abbigliamento</div>
            </div>
        </div>
        <div class="col-md-auto text-center">
            <div class="category-container">
                <img src="https://www.montecarlonews.it/fileadmin/archivio/montecarlonews/negozio-animali-online.jpg"
                    alt="Gadget" class="category-img">
                <div class="category-title">Gadget</div>
            </div>
        </div>
        <div class="col-md-auto text-center">
            <div class="category-container">
                <img src="https://www.focus.it/images/2022/08/18/-1131346997-orig.jpeg" alt="Giocattoli"
                    class="category-img">
                <div class="category-title">Giochi</div>
            </div>
        </div>
        <div class="col-md-auto text-center">
            <div class="category-container">
                <img src="https://hips.hearstapps.com/hmg-prod/images/grevys-zebra-on-alert-royalty-free-image-1647954551.jpg?crop=0.668xw:1.00xh;0,0&resize=1200:*"
                    alt="Gioielli" class="category-img">
                <div class="category-title">Gioielli</div>
            </div>
        </div>
        <div class="col-md-auto text-center">
            <div class="category-container">
                <img src="https://www.focus.it/site_stored/imgs/0003/008/muccardo.900x600.jpg" alt="Opere Artistiche"
                    class="category-img">
                <div class="category-title">Opere Artistiche</div>
            </div>
        </div>
        <div class="col-md-auto text-center">
            <div class="category-container">
                <img src="https://rivistanatura.com/wp-content/uploads/2021/07/Panda-770x470.jpg"
                    alt="Opere Multimediali" class="category-img">
                <div class="category-title">Opere Multimediali</div>
            </div>
        </div>
        <div class="col-md-auto text-center">
            <div class="category-container">
                <img src="https://citynews-today.stgy.ovh/~media/horizontal-hi/14611916259359/turtle-on-the-grass-2021-08-26-22-34-25-utc.jpg"
                    alt="Opere Narrative" class="category-img">
                <div class="category-title">Opere Narrative</div>
            </div>
        </div>
    </div>
    <footer class="footer py-3">
        <div class="containerF">
            <div class="row">
                <div class="text-center">
                    <img src="../static/LOGOTIPO.png" alt="Logo" class="logoF mb-3">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="footer-links list-unstyled">
                        <li class="d-inline me-3"><a href="#">Abbigliamento</a>
                        </li>
                        <li class="d-inline me-3"><a href="#">Gadget</a>
                        </li>
                        <li class="d-inline me-3"><a href="#">Giochi</a>
                        </li>
                        <li class="d-inline me-3"><a href="#">Gioielli</a>
                        </li>
                        <li class="d-inline me-3"><a href="#">Opere
                                Artistiche</a>
                        </li>
                        <li class="d-inline me-3"><a href="#">Opere
                                Multimediali</a></li>
                        <li class="d-inline me-3"><a href="#">Opere
                                Narrative</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12 text-center">
                    <p>© 2024 Bottegadelbrigante.com, Inc. o società affiliate</p>
                </div>
            </div>
        </div>
    </footer>


</body>

</html>
