<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <link href="../static/style.css" rel="stylesheet">
  <title>opere multimediali</title>
  <style type="text/css">


  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="indexTest.html">
            <img src="../static/LOGOTIPO.png" alt="Logo" class="logoN d-inline-block align-top me-2">
        </a>
        <form class="d-flex ms-2 flex-grow-1" role="search">
            <div class="input-group">
                <div class="dropdown">
                    <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Categorie
                    </button>
                    <ul class="dropdown-menu bg-warning" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="abbigliamento.html">Abbigliamento</a></li>
                        <li><a class="dropdown-item" href="gadget.html">Gadget</a></li>
                        <li><a class="dropdown-item" href="giochi.html">Giochi</a></li>
                        <li><a class="dropdown-item" href="gioielli.html">Gioielli</a></li>
                        <li><a class="dropdown-item" href="opereArtistiche.html">Opere Artistiche</a></li>
                        <li><a class="dropdown-item" href="opereMultimediali.html">Opere Multimediali</a></li>
                        <li><a class="dropdown-item" href="opereNarrative.html">Opere Narrative</a></li>
                    </ul>
                </div>
                <input class="form-control" type="search" placeholder="Cerca" aria-label="Search">
                <button class="btn btn-warning" type="submit">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </form>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="login.html">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="registrazioneUtente.html">Registrazione</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="carrello.html">Carrello</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

  <div class="filtrobottoni">
    <button class="btn btn-warning" onclick="filtro('Videogiochi')">Videogiochi</button>
    <button class="btn btn-warning" onclick="filtro('Film')">Film</button>
    <button class="btn btn-warning" onclick="filtro('Musica')">Musica</button>
    <button class="btn btn-warning" onclick="mostraTutto()">Mostra tutto</button>
    </div>

  <div class="container mt-3">
    <div class="row">
      <div class="col-md-3 col-sm-12" categoria="Videogiochi">
        <div class="card " id="ombra">
          <img class="card-img-top" src="../static/SottoCategorie/Videogiochi/videogiochi1.jpg" alt="Sea Of Thieves">
          <div class="card-body">
            <h5 class="card-title">
              Sea Of Thieves
            </h5>
            <button class="btn btn-dark" data-bs-toggle="collapse" data-bs-target="#pulsante"
              onclick="toggleCollapse('pulsante1')" id="bottone">Dettagli
            </button>
            <div class="collapse" style="display: none;" id="pulsante1">
              <div class="campi">
                <fieldset>

                  <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img class="copertina" src="../static/SottoCategorie/Videogiochi/videogiochi1.jpg"
                          class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img class="copertina" src="../static/SottoCategorie/BluRay/bluRayback.jpg"
                          class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                      data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                      data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>

                  <h5> Descrizione </h5>
                  <p>Sea of Thieves è un gioco multigiocatore cooperativo e giocatore versus giocatore dove i giocatori
                    prendono il ruolo di pirati che navigano nel mare aperto cercando tesori e scontri fra di loro.</p>
                  <div>
                    <h5><span class="badge bg-secondary"><s>5,20€</s></span> 4,94€</h5>
                  </div>
                  <a href="#" class="btn btn-warning">Aggiungi al carrello</a>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-3 col-sm-12" categoria="Film">
        <div class="card" id="ombra">
          <img class="card-img-top" src="../static/SottoCategorie/Film/salazar.jpg" alt="Pirati Dei Caraibi ">
          <div class="card-body">
            <h5 class="card-title">
              Pirati Dei Caraibi
            </h5>
            <button class="btn btn-dark" data-bs-toggle="collapse" data-bs-target="#pulsante2"
              onclick="toggleCollapse('pulsante2')" id="bottone">Dettagli
            </button>
            <div class="collapse" style="display: none;" id="pulsante2">
              <div class="campi">
                <fieldset>

                  <div id="carouselExample2" class="carousel slide">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img class="copertina" src="../static/SottoCategorie/Film/salazar.jpg" class="d-block w-100"
                          alt="...">
                      </div>
                      <div class="carousel-item">
                        <img class="copertina" src="../static/SottoCategorie/Film/salazarback.jpg" class="d-block w-100"
                          alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample2"
                      data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample2"
                      data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>

                  <h5> Descrizione </h5>
                  <p>Il Capitano Salazar, insieme al suo equipaggio di marinai fantasma, riesce a uscire dal Triangolo
                    del Diavolo. L'unica speranza di salvezza per Jack Sparrow è il Tridente di Poseidone, ma per
                    recuperarlo è costretto a stringere un'insolita alleanza</p>
                  <div>
                    <h5><span class="badge bg-secondary"><s>5,20€</s></span> 4,94€</h5>
                  </div>
                  <a href="#" class="btn btn-warning">Aggiungi al carrello</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12"  categoria="Film">
        <div class="card" id="ombra">
          <img class="card-img-top" src="../static/SottoCategorie/Film/bluRay.jpg" alt="Il Pianeta Del Tesoro">
          <div class="card-body">
            <h5 class="card-title">
              Il Pianeta Del Tesoro
            </h5>
            <button class="btn btn-dark" data-bs-toggle="collapse" data-bs-target="#pulsante3"
              onclick="toggleCollapse('pulsante3')" id="bottone">Dettagli
            </button>
            <div class="collapse" style="display: none;" id="pulsante3">
              <div class="campi">
                <fieldset>

                  <div id="carouselExample3" class="carousel slide">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img class="copertina" src="../static/SottoCategorie/Film/bluRay.jpg" class="d-block w-100"
                          alt="...">
                      </div>
                      <div class="carousel-item">
                        <img class="copertina" src="../static/SottoCategorie/Film/bluRayback.jpg" class="d-block w-100"
                          alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample3"
                      data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample3"
                      data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>

                  <h5> Descrizione </h5>
                  <p>L'adolescente Jim Hawkins, con l'aiuto di una mappa olografica e di alcuni amici, va alla ricerca del Pianeta del Tesoro.</p>
                  <div>
                    <h5><span class="badge bg-secondary"><s>5,20€</s></span> 4,94€</h5>
                  </div>
                  <a href="#" class="btn btn-warning">Aggiungi al carrello</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-12"  categoria="Musica">
        <div class="card" id="ombra">
          <img class="card-img-top" src="../static/SottoCategorie/Musica/ost 1.jpg" alt="Pirates">
          <div class="card-body">
            <h5 class="card-title">
              Pirates
            </h5>
            <button class="btn btn-dark" data-bs-toggle="collapse" data-bs-target="#pulsante4"
              onclick="toggleCollapse('pulsante4')" id="bottone">Dettagli
            </button>
            <div class="collapse" style="display: none;" id="pulsante4">
              <div class="campi">
                <fieldset>

                  <div id="carouselExample4" class="carousel slide">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img class="copertina" src="../static/SottoCategorie/Musica/ost 1.jpg" class="d-block w-100"
                          alt="...">
                      </div>
                      <div class="carousel-item">
                        <img class="copertina" src="../static/SottoCategorie/" class="d-block w-100"
                          alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample4"
                      data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample4"
                      data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>

                  <h5> Descrizione </h5>
                  <p>“Pirates Ii – Armada” è stato prodotto da Felix Heldt e mixato e masterizzato da Jacob Hansen.Di seguito la tracklist del lavoro e la copertina disegnata da Blake Armstrong:01. To Those Who Choose to Fight
                    02. The Land of the Free
                    03. Monsters
                    04. Tonight I’m Alive
                    05. Armada
                    06. The Dead of the Sea
                    07. Ashes to the Sea
                    08. Hellfire
                    09. Collide
                    10. Magic of the Night
                    11. Underwater
                    12. Where the Sky and Ocean Blend</p>
                  <div>
                    <h5><span class="badge bg-secondary"><s>20,00€</s></span> 18,99€</h5>
                  </div>
                  <a href="#" class="btn btn-warning">Aggiungi al carrello</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-12" categoria="Musica">
        <div class="card" id="ombra">
          <img class="card-img-top" src="../static/SottoCategorie/Musica/ost pirati caraibi.webp" alt="Pirati Dei Caribi OST">
          <div class="card-body">
            <h5 class="card-title">
              Pirati Dei Caribi OST
            </h5>
            <button class="btn btn-dark" data-bs-toggle="collapse" data-bs-target="#pulsante5"
              onclick="toggleCollapse('pulsante5')" id="bottone">Dettagli
            </button>
            <div class="collapse" style="display: none;" id="pulsante5">
              <div class="campi">
                <fieldset>

                  <div id="carouselExample5" class="carousel slide">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img class="copertina" src="../static/SottoCategorie/Musica/ost pirati caraibi.webp" class="d-block w-100"
                          alt="...">
                      </div>
                      <div class="carousel-item">
                        <img class="copertina" src="../static/SottoCategorie/" class="d-block w-100"
                          alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample5"
                      data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Precedente</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample5"
                      data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Successiva</span>
                    </button>
                  </div>

                  <h5> Descrizione </h5>
                  <p>Guilty of Being Innocent of Being Jack Sparrow - 1:42
                    Angelica feat. Rodrigo y Gabriela - 4:17
                    Mutiny - 2:48
                    The Pirate That Should Not Be di Rodrigo y Gabriela - 3:55
                    Mermaids - 8:05
                    South of Heaven's Chanting Mermaids feat. Rodrigo y Gabriela - 5:48
                    Palm Tree Escape di Rodrigo y Gabriela - 3:06
                    Blackbeard - 5:05
                    Angry and Dead Again di Rodrigo y Gabriela - 5:35
                    On Stranger Tides - 2:44
                    End Credits - 1:59
                    Guilty of Being Innocent of Being Jack Sparrow (Remix di DJ Earworm) - 2:45
                    Angelica (Grant Us Peace Remix) (Remix di Ki: Theory) - 3:08
                    The Pirate That Should Not Be (Remix di Photek) - 6:26
                    Blackbeard (Remix di Super Mash Bros & Thieves) - 5:26
                    South of Heaven's Chanting Mermaids (Remix di Paper Diamond) - 3:32
                    Palm Tree Escape (Remix di Adam Freeland) - 5:28
                    Angry and Dead Again (Remix di Static Revenger) - 5:49</p>
                  <div>
                    <h5><span class="badge bg-secondary"><s>9,90€</s></span> 9,40€</h5>
                  </div>
                  <a href="#" class="btn btn-warning">Aggiungi al carrello</a>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
  <footer class="footer py-3">
    <div class="containerF">
        <div class="row">
            <div class="text-center">
                <img src="../static/LOGOTIPO.png" alt="Logo" class="logoF mb-3">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="footer-links list-unstyled">
                    <li class="d-inline me-3"><a href="abbigliamento.html">Abbigliamento</a>
                    </li>
                    <li class="d-inline me-3"><a href="gadget.html">Gadget</a>
                    </li>
                    <li class="d-inline me-3"><a href="giochi.html">Giochi</a>
                    </li>
                    <li class="d-inline me-3"><a href="gioielli.html">Gioielli</a>
                    </li>
                    <li class="d-inline me-3"><a href="opereArtistiche.html">Opere Artistiche</a>
                    </li>
                    <li class="d-inline me-3"><a href="opereMultimediali.html">Opere Multimediali</a></li>
                    <li class="d-inline me-3"><a href="opereNarrative.html">Opere Narrative</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12 text-center">
                <p>© 2024 Bottegadelbrigante.com, Inc. o società affiliate</p>
            </div>
        </div>
    </div>
</footer>

  <script>
    function toggleCollapse(cardId) {
      var div = document.getElementById(cardId);
      if (div.style.display === "none") {
        div.style.display = "block";
      } else {
        div.style.display = "none";
      }
    }


    function filtro(category) {
     cards = document.querySelectorAll('.card');
      cards.forEach(function(card) {
         cardCategory = card.parentNode.getAttribute('categoria');
        if (cardCategory === category) {
            card.style.display = 'block';
        } else {
            card.style.display = 'none';
        }
    });
}


function mostraTutto() {
    cards = document.querySelectorAll('.card');
    cards.forEach(function(card) {
        card.style.display = 'block';
    });
}
  </script>
</body>

</html>